body
{
    background-color: rgb(189, 189, 189);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    height: 60px;
    width: 100%;
    background-color: white;
    animation-duration: 3s;
    animation-name: animated-header;
    vertical-align: middle;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.logo
{
    height: 50px;
    background-color: white;
    margin-right: 100;
    padding-left: 150px;
    vertical-align: middle;
    grid-column-start: 1;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
nav
{
    position: static;
    grid-column-start: 2;
    padding-right: 150px;
    text-align: right;
}
.join-btn
{
    width: 6em;
    height: 2em;
    border-radius: 4px;
    color: white;
    background-color: rgb(42, 175, 228);
    border: none;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.join-btn:hover
{
    background-color:blue;
}
.main-container
{
    display: grid;
    grid-template-columns: 25% 22% 33% 20%;
    grid-template-rows: repeat(8, 65px);
    padding: 20px 150px 20px 150px;
}
.binary
{
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: white;
    position: relative;
}
.js
{
    grid-column: 2/3;
    grid-row: 1/7;
    background-color: white;
}
.php
{
    grid-column: 3/5;
    grid-row: 1/4;
    background-color: white;
}
.qa
{
    grid-column: 1/2;
    grid-row: 5/9;
    background-color: white;
}
.java
{
    grid-column: 2/3;
    grid-row: 7/9;
    background-color: white;
}
.net
{
    grid-column: 3/4;
    grid-row: 4/9;
    background-color: white;
}
.events
{
    grid-column: 4/5;
    grid-row: 4/6;
    background-color: white;
    width: 100%;
}
.blog
{
    grid-column: 4/5;
    grid-row: 6/8;
    background-color: white;
}
.contacts
{
    grid-column: 4/5;
    grid-row: 8/9;
    background-color: white;
}
.child
{
    margin: 15px;
}
.course
{
    font-size: 1.2em;
    font-weight: bold;
}
.main-container > div
{
    overflow-y: auto;
}
.icon-bell
{
    color: rgb(189, 189, 189);
    padding-right: 10px;
}
.icon-bell:hover
{
    color: gray;
    cursor: pointer;
}
.user
{
    display: inline-block;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
}
.user span
{
    border-radius: 50%;
    background-color: orange;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.dropdown-info
{
    display: none;
    position: relative;
    top: 10px;
    min-width: 250px;
    min-height: 80px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
}
.dropdown-info div
{
    padding: 10px;
}
.dropdown {
    background-color: transparent;
    position: relative;
    display: inline-block;
  }
.dropdown:focus .dropdown-info
{
    display: block;
    outline:none;
}
.title
{
    color: gray;
    text-align: center;
    border-bottom: 2px solid gray;
    margin-left: 15px;
    margin-right: 15px;
}
footer
{
    text-align: center;
}
.contacts
{
    position: relative;
}
.icons
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fa
{
    padding: 5px;
}
.fa:hover
{
    color: skyblue;
}
.notification-wrp
{
    position: fixed;
    bottom: 50px;
    right: 50px;

}
.notification
{
    width: 250px;
    height: 80px;
    background-color: rgba(207, 33, 33, 0.8);
    border-radius: 10px;
    color: white;
    display: flex;
    margin-top: 20px;
}
.notification-success
{
    width: 250px;
    height: 60px;
    background-color: rgba(33, 207, 56, 0.8);
    border-radius: 10px;
    color: white;
    display: flex;
    margin-top: 20px;
}
.message
{
    margin-top: 10px;
    clear: both;
}
.fa-exclamation-circle
{
    margin: 17px 10px 10px 10px;
}
.fa-check-circle
{
    margin: 10px 10px 10px 10px;
}


@keyframes animated-header
{
    from {
        transform: translateY(-70px);
      }
      to {
        transform: translateY(0px);
      }
}



.cover-container
{
    width: 1220px;
    display: grid;
    grid-template-columns: 25% 22% 33% 20%;
    grid-template-rows: repeat(8, 65px);
    padding: 20px 150px 20px 150px;
    position: absolute;
    top: 68px;
    /* opacity: 50%; */
}
.binary-cover
{
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: white;
    position: relative;
}
.logo-block
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.js-cover
{
    grid-column: 2/3;
    grid-row: 1/7;
    background-color: rgb(255, 225, 57);
    font-weight: bold;
    font-size: 5em;
    position: relative;
    height: 100%;
}
.child-js-cover
{
    position: absolute;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.php-cover
{
    grid-column: 3/5;
    grid-row: 1/4;
    font-size: 4em;
    text-transform: lowercase;
    font-style: italic;
    background-color: rgb(98, 98, 136);
    position: relative;
}
.qa-cover
{
    grid-column: 1/2;
    grid-row: 5/9;
    background-color: rgb(75, 204, 36);
    color: white;
    font-size: 4em;
    position: relative;
}
.java-cover
{
    grid-column: 2/3;
    grid-row: 7/9;
    color: white;
    font-size: 3em;
    background-color: rgb(236, 68, 39);
    position: relative;

}
.net-cover
{
    grid-column: 3/4;
    grid-row: 4/9;
    background-color: rgb(109, 18, 109);
    color: white;
    text-align: center;
    font-size: 4em;
    position: relative;
}
.child-center-cover
{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(0); }
.events-cover
{
    grid-column: 4/5;
    grid-row: 4/6;
    background-color: rgb(23, 165, 212);
    color: white;
    position: relative;
}
.blog-cover
{
    grid-column: 4/5;
    grid-row: 6/8;
    background-color: rgb(5, 5, 172);
    color: white;
    position: relative;
}
.contacts-cover
{
    grid-column: 4/5;
    grid-row: 8/9;
    background-color: rgb(3, 3, 117);
    color: white;
    position: relative;
}

.shrink { transition: all .5s ease-in-out; }
.shrink:hover { transform: scale(0); }

.scale { transition: all .5s ease-in-out; }
.scale:hover { transform: scaleY(0); }

.scale2 { transition: transform 1s ease-in-out; }
.scale2:hover { transform: rotate(390deg) scale(0); }

.scale3 { transition: transform 1s ease-in-out; }
.scale3:hover { transform: rotate(390deg) scale(0); }

.scale4 { transition: height 1s ease-in-out; }
.scale4:hover { height: 0%;}

.disappear:hover
{
    display: none;
    z-index: -1;
}

.slide-right:hover {
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: -1;
}

@keyframes slide-right {
    0% {    
      transform: translateX(0);
    }
    100% {
      transform: translateX(200px) scale(0);
    }
  }